﻿$blue-1: #6ec0cc;
$blue-2: #539099;
$blue-3: #457980;
$grey-0: #edf2f3;
$grey-1: #c7d6d9;
$grey-2: #92adb3;
$grey-3: #5e7073;
$grey-4: #3f4b4d;
$text-active: $grey-3;

$light-green: #e3f7da;
$green: #56af31;
$green-hover: #7bd057;
$green-action: #3f8024;
$dark-green: #1e3d11;
$dark-green-action: #13260b;

$orange-hover: #f9be5a;
$orange: #f7a823;
$orange-action: #c88007;

$grey: #cccccc;
$grey-hover: #a7a7a7;
$grey-action: #4f4f4f;

$blue: #00b9d4;
$blue-hover: #0094aa;
$blue-action: #006d7d;

//классы шаблоны
%d-flex-row {
  display: flex;
  flex-direction: row;
}
%d-flex-col {
  display: flex;
  flex-direction: column;
}
%d-flex-center-center {
  align-items: center;
  justify-content: center;
}
%d-flex-between-center {
  align-items: center;
  justify-content: space-between;
}
%d-flex-start-center {
  align-items: center;
  justify-content: flex-start;
}
%d-flex-end-center {
  align-items: center;
  justify-content: flex-end;
}
$mediapoint-very-small: 0;
$mediapoint-small-360: 360;
$mediapoint-small: 575;
$mediapoint-medium: 768;
$mediapoint-medium-medium: 833;
$mediapoint-medium-large: 992;
$mediapoint-large: 1275;

@mixin media($width-1, $width-2) {
  @if ($width-1 != $width-2) {
    @media (min-width: #{$width-1 + 1 + 'px'}) and (max-width: #{$width-2 + 'px'}) {
      @content;
    }
  }
  @if ($width-1 == $width-2) {
    @media (min-width: #{$width-1 + 1 + 'px'}) {
      @content;
    }
  }
}
