.button-scroll-up{
  display: none;
  position: fixed;
  bottom: 30%;
  right: 0%;
  z-index: 100000;
  cursor: pointer;
  @include media($mediapoint-very-small, $mediapoint-small ) {
    right: 1%;
    width: 60px;
    bottom: 20%;
    img{
      width: 100%;
    }
  }
}
.footer {
  background-color: #1d1d1b;
  position: relative;
  @include media($mediapoint-medium, $mediapoint-large ) {
    padding: 0 70px;
  }
  @include media($mediapoint-small, $mediapoint-medium ) {
    padding: 0 65px 0 70px
  }
  .img-logotype {
    background: url("../../images/dr-peso_logo.svg") 0 0 no-repeat;
    background-size: 100%;
    width: 110px;
    height: 75px;
    @include media($mediapoint-very-small, $mediapoint-small ) {
      margin: 0 auto;
      width: 117px;
    }
  }
  .description{
    max-width: 230px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    margin-top: 20px;
    color: #A7A7A1;
    @include media($mediapoint-small, $mediapoint-medium ) {
      padding-right: 40px;
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      text-align: center;
      margin-top: 0px;
    }
  }
  .contactos{
    /* Body/Body L Bold */

    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    /* Achromatic/Gray 3 */

    color: #A7A7A7;
  }
  .button-whats-up{
    position: fixed;
    bottom: 3%;
    right: 1%;
    width: 60px;
    height: 60px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    cursor: pointer;
    background-color: #72cd4c;
    border-radius: 50%;
    border: 1px solid rgba(246 ,246 ,246 ,0.89);
    box-shadow: 0px 0px 9px 1px rgba(51, 141, 14, 0.72);
    &:hover{
      background-color: #56AF31;
      box-shadow: 0px 0px 9px 1px rgba(51,141, 14,0.92);
    }
    &-abs_top{
      top: 2%  !important;
    }
    &-abs{
      position: absolute;
      top: 1%;
      right: 1%;
      margin: 0 !important;
      z-index: 1;
      width: 45px;
      height: 45px;
      display: flex !important;
      justify-content: center;
      align-items: center;
      background-color: #72cd4c;
      border: 1px solid rgba(246,246,246,0.89);
      box-shadow: 0px 0px 9px 1px rgba(51, 141, 14, 0.52);
      border-radius: 50%;
      img{
        width: 60%;
      }
    }
    /* &:hover{
       box-shadow: 0px 4px 14px rgba(80,163, 46,0.32);
     }*/
    @include media($mediapoint-small, $mediapoint-large ) {
      right: 1%;
      bottom: 2%;
      width: 60px;
      height: 60px;
    }
    @include media($mediapoint-very-small, $mediapoint-small ) {
      right: 2%;
      bottom: 2%;
      width: 50px;
      height: 50px;
    }
  }

  .span-block{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @include media($mediapoint-very-small, $mediapoint-small ) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      a{
        margin: 10px 0px 10px 0px !important;
      }
    }
    a{
      margin: 10px 25px 10px 0px;
    }
  }

  span {
    /* Body/Body M Regular */

    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    color: #A7A7A1;

    @include media($mediapoint-very-small, $mediapoint-small ) {
      width: 100%;
    }
  }

  a {
    margin: 0px 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;

    text-align: left;
    line-height: 20px;
    text-decoration: none;

    /* identical to box height, or 125% */
    color: #A7A7A1;
    display: block;
    @include media($mediapoint-small, $mediapoint-medium ) {
      font-size: 14px;
    }
    @include media($mediapoint-very-small, $mediapoint-small ) {
      text-align: center;
      font-size: 16px;
    }
  }


  &-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    @include media($mediapoint-medium, $mediapoint-large ) {
      margin: 0 0px 0 0px !important;
    }
    @include media($mediapoint-small, $mediapoint-medium ) {
      margin: 0 0px 0 0px !important;
    }
    @include media($mediapoint-very-small, $mediapoint-small ) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &-column{
      @include media($mediapoint-very-small, $mediapoint-small ) {
        &:nth-child(1){
          order: 1;
        }
        &:nth-child(2){
          order: 3;
        }
        &:nth-child(3){
          order: 2;
        }
        &:nth-child(4){
          order: 4;
        }
        &:nth-child(5){
          order: 5;
        }
      }
    }
    #href-list{
      width: 40%;
      @include media($mediapoint-small, $mediapoint-medium ) {
        width: 70%;
      }
      @include media($mediapoint-very-small, $mediapoint-small ) {
        width: 100%;
      }
    }
  }
  .footer-button{
    -webkit-tap-highlight-color: transparent;
    background: $dark-green;
    border-radius: 24px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 20px 0;
    width: 256px;
    height: 48px;
    text-align: center;
    color: $green;
    text-decoration: none;
    cursor: pointer;
    @include media($mediapoint-small, $mediapoint-medium ) {
      width: 160px !important;
      font-size: 13px;
      margin-left: 5px;
    }
    &:hover{
      background: $green-action;
    }
    &:focus{
      background: $dark-green;
      color: $light-green;
    }
  }
  .list-social{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    @include media($mediapoint-very-small, $mediapoint-small ) {
      justify-content: center;
      margin: 20px 0;
    }
    img{
      margin: 0 10px;
    }
  }
  @include media($mediapoint-very-small, $mediapoint-small ) {

    .footer-block{
      padding-top: 80px;
  /*    &.after-block:after {
        content: '';
        height: 15px;
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        top: -2px;
        left: 0;
        border-bottom-left-radius: 12px;
        z-index: 100;
        border-bottom-right-radius: 12px;
      }*/
    }

  }
}