
/*Шаблон для форм*/
.forms-block{
  padding: 0 0 30px 0 !important;
  @include media($mediapoint-very-small, $mediapoint-medium ) {
    padding: 0 0 0px 0 !important;
  }
  &_title{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #1D1D1B;
    @include media($mediapoint-very-small, $mediapoint-medium ) {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      background: #F0F0F0;
      margin: 0;
      padding: 10px 25px;
    }

  }
  h3{
    /* Body/Body XL Bold */
    margin: 10px 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */


    /* Achromatic/Black Primary */

    color: #1D1D1B;
  }
  p.description{
    /* Body/Body L Regular */

    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #1D1D1B;
    @include media($mediapoint-very-small, $mediapoint-small) {
      text-align: center;
    }
  }
  &_form{
    background: #F0F0F0;
    border-radius: 12px;
    max-width: 760px;
    min-height: 220px;
    padding: 25px;
    position: relative;
    &.form-100{
      max-width: 1200px !important;
    }
    @include media($mediapoint-very-small, $mediapoint-medium ) {
      &.white-mobile-bg{
        background: white;
      }

    }
    input:focus,
    textarea:focus {
      outline: none !important;
      border: 1px solid #56AF31 !important;
      color: #4F4F4F;
      background-color: #DFF4F7;
    }
    &-input{
      position: relative;
      @include media($mediapoint-very-small, $mediapoint-small ) {
        margin-bottom: 20px;
      }
      label{
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #1D1D1B;
        width: 100%;
        display: block;
        text-align: left;
        padding: 5px 0 5px 15px;
        @include media($mediapoint-very-small, $mediapoint-small ) {
          text-align: center;
          padding: 5px 0 5px 0px !important;
        }

      }
      input{
        /* Achromatic/White */
        height: 48px;
        background: #FFFFFF;
        /* Achromatic/Gray 0D */
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        /* Input Shadow */
        width: 100%;
        padding: 0 15px;
        box-shadow: 0px 4px 12px rgba(29, 29, 27, 0.04);
        border-radius: 12px;
        /* Body/Body XL Regular */
        color: #A7A7A7;
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        @include media($mediapoint-very-small, $mediapoint-small ) {
          text-align: center;
        }
      }
      svg{
        position: absolute;
        top: 40px;
        right: 15px;
      }
    }
    &-select{
      position: relative;
      label{
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #1D1D1B;
        width: 100%;
        display: block;
        text-align: left;
        padding: 5px 0 5px 15px;
        @include media($mediapoint-very-small, $mediapoint-medium ) {
          text-align: center;
          padding: 5px 0 5px 0px !important;
        }

      }
      select{
        /* Achromatic/White */
        height: 48px;
        background: #FFFFFF;
        /* Achromatic/Gray 0D */
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        /* Input Shadow */
        width: 100%;
        padding: 0 15px;
        box-shadow: 0px 4px 12px rgba(29, 29, 27, 0.04);
        border-radius: 12px;
        /* Body/Body XL Regular */
        color: #A7A7A7;
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        outline:none;
        @include media($mediapoint-very-small, $mediapoint-small ) {
          text-align: center;
        }
        option{
          color: #1D1D1B;
          background: #FFFFFF;
          /* Achromatic/Gray 0D */

          border: 1px solid #E0E0E0;
          box-sizing: border-box;
          /* Shadows/Input Default Shadow */

          box-shadow: 0px 4px 12px rgba(29, 29, 27, 0.04);
          border-radius: 12px;
        }
      }
      svg{
        position: absolute;
        top: 40px;
        right: 15px;
      }
    }
    &-textarea{
      width: 100%;
      label{
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #1D1D1B;
        width: 100%;
        display: block;
        text-align: left;
        padding: 5px 0 5px 15px;
        @include media($mediapoint-very-small, $mediapoint-medium ) {
          text-align: center;
          padding: 5px 0 5px 0px !important;
        }
      }
      textarea{
        /* Achromatic/White */
        height: 150px;
        background: #FFFFFF;
        /* Achromatic/Gray 0D */
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        /* Input Shadow */
        width: 100%;
        padding: 10px 15px;
        box-shadow: 0px 4px 12px rgba(29, 29, 27, 0.04);
        border-radius: 12px;
        /* Body/Body XL Regular */
        color: #A7A7A7;
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        resize: none;
        line-height: 28px;
        @include media($mediapoint-very-small, $mediapoint-small ) {
          text-align: center;
        }
      }
    }
    button, .button-form{
      /* Chromatic/Green Primary */
      width: 260px !important;
      height: 44px;
      background: #56AF31;
      /* Primary Button Shadow */
      display: flex;
      align-items: center;
      text-align: center;
      box-shadow: 0px 4px 14px rgba(80, 163, 46, 0.32);
      border-radius: 24px;
      font-family: Manrope;
      -webkit-tap-highlight-color: transparent;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
      justify-content: center;
      border: 0px;
      margin: 25px 0;
      cursor: pointer;
      @include media($mediapoint-very-small, $mediapoint-small) {
        margin: 0px auto !important;
      }
      &:hover {
        background-color: #7BD057;
      }

      &:focus {
        background-color: #3F8024;
      }
    }
    .choose-time-call{
      max-width: 470px;
      @include media($mediapoint-very-small, $mediapoint-medium) {
        margin: 0 auto;
      }
      &_input{
        text-align: center;
        background: #E0E0E0;
        border-radius: 12px;
        height: 80px;
        display: flex;
        align-items: center;

        justify-content: center;
        margin-top: 10px;
        pointer-events: none;
        &.active{
          background: #D0F1C1;
          pointer-events: initial;
          input{
            background: #FFFFFF;
          }
        }
        input{
          width: 50%;
          background: #F0F0F0;
          text-align: center;
        }
      }
      &_choose{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        flex-wrap: wrap;


        &-box{
          background: #E0E0E0;
          border-radius: 12px;
          height: 48px;
          width: 226px;
          margin: 10px 0;
          cursor: pointer;
          @include media($mediapoint-very-small, $mediapoint-medium) {
            width: 48%;
          }
          &.active{
            background: #56AF31;
            p{
              color: white;
            }
          }
          &:hover{
            background: #A7A7A7;
            p{
              color: white;
            }
          }
          p{
            /* Body/Body L Regular */

            font-family: Manrope;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 16px;
            /* identical to box height, or 125% */

            text-align: center;

            /* Achromatic/Gray 2 */

            color: #4F4F4F;

          }
        }
      }
    }

  }
  .row-input{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    @include media($mediapoint-very-small, $mediapoint-small) {
      flex-direction: column;
      padding: 0 0px;
      &.row-count-2 > div{
        width: 100% !important;

      }
    }
    &.row-margin{
      margin-bottom: 15px;
    }

    &.row-count-2 > div{
      width: 48%;
    }
    &.row-count-1 > div{
     // width: 100%;
    }
  }
}

.breadcrumb{
  margin-left: 5px;
  &:hover {
    svg path{
      fill: $blue-hover;
    }
    p{
      color: $blue-hover;
    }
  }
  &_row{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
  }
  svg{
    transform: rotate(90deg);
    path{
      fill: $blue;
    }
  }
  a{
    text-decoration: none;
  }
  p{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: $blue;
    margin-left: 15px;
  }
}

.contact-information{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;

  @include media($mediapoint-small, 1135) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
    justify-content: flex-start;
  }
  @include media($mediapoint-very-small, $mediapoint-small) {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
  &-banner{
    width: 360px;
    @include media($mediapoint-very-small, $mediapoint-large) {
      width: 100%;
      height: 216px;
    }
    &_social{
      background: url("../../images/social.png")0% 0% no-repeat;
      background-size: cover;
      width: 100%;
      max-width: 735px;
      height: 290px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-bottom: 20px;
      border-radius: 13px;
      @include media($mediapoint-small, $mediapoint-large) {
        width: 100%;
        height: 216px;
        background: url("../../images/social.png") 0% 50% no-repeat;
        background-size: cover;
      }
      @include media($mediapoint-very-small, $mediapoint-small) {

        background: url(../../images/social-banner.svg) 0% 0% no-repeat;
        background-size: 150%;
        height: 275px;
        width: 100%;
        &:before{
          content: '';
          height: 30px;
          width: 100%;
          background-color: white;
          position: absolute;
          top: 0;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
        }
      }
      >div{
        width: 80%;
      }
      &-title{
        text-align: center;
        /* Body/Body XL Bold */

        font-family: Manrope;
        font-style: normal;
        font-weight: bold !important;
        font-size: 20px  !important;
        line-height: 28px  !important;

        /* Achromatic/White */
        margin: 0;
        color: #FFFFFF  !important;
      }
      &-description{
        text-align: center;
        font-family: Manrope;
        font-style: normal;
        font-weight: normal !important;
        font-size: 16px  !important;
        line-height: 20px  !important;
        margin: 0;
        /* Achromatic/White */

        color: #FFFFFF  !important;
      }
      &-list-social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        a{
          background: #F0F0F0;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 0px 2% !important;
        }
      }
    }
  }
  &_phonenumber{
    width: 310px;
    border-radius: 12px;
    min-height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    align-items: center;
    @include media($mediapoint-small, $mediapoint-medium) {
      width: 270px;
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      background: inherit;
      text-align: center;
      padding: 0px 0 20px 0;
      margin: 0 auto;
    }
    &-img {
      background: #F0F0F0;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      @include media($mediapoint-very-small, $mediapoint-small) {
        display: none;
      }
    }
    &-content{
      &__title{
        /* Body/Body S Regular */

        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-align: left;

        /* Achromatic/Black Primary */
        margin: 0;
        color: #1D1D1B;
        @include media($mediapoint-very-small, $mediapoint-small) {
          text-align: center;
          font-weight: bold !important;
        }
      }
      a{
        /* Body/Body XL Bold */
        margin: 0;

        text-decoration: none;
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */

        /* Chromatic/Orange Primary */

        color: #F7A823;
        @include media($mediapoint-very-small, $mediapoint-small) {
          text-align: center;
        }
      }
      &__description{
        margin: 0;
        /* Body/Body M Regular */

        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        text-align: left;
        /* Achromatic/Gray Primary */

        color: #A7A7A7 !important;
        @include media($mediapoint-very-small, $mediapoint-small) {
          text-align: center;
        }
      }
    }
  }

  &_phonenumber.first-phone{
    max-width: 700px;
    @include media($mediapoint-very-small, 1135) {
      background: #FEF4E4 !important;
    }
    .contact-information_phonenumber-img {
      @include media($mediapoint-very-small, 1135) {
        display: flex!important;
      }
    }
    .contact-information_phonenumber-content{
      @include media($mediapoint-very-small, 1135) {
        text-align: left !important;
      }
      &__title{
        @include media($mediapoint-very-small, 1135) {
          text-align: left !important;
          font-weight: bold !important;
        }
      }
      a{
        @include media($mediapoint-very-small, 1135) {
          text-align: left !important;
        }
      }
      &__description{
        @include media($mediapoint-very-small, 1135) {
          text-align: left !important;
        }
      }
    }
  }

  &_mail{
    width: 380px;

    border-radius: 12px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    align-items: center;
    max-width: 700px;
    @include media($mediapoint-very-small, $mediapoint-small ) {
      background-color: inherit;
      text-align: center;
      justify-content: center;
      margin: 0px 0 0 0;
      padding: 0 20px;
      height: auto;
    }
    &-content{
      text-align: left;
      @include media($mediapoint-very-small, $mediapoint-small ) {
        text-align: center;
      }
    }
    &-img {
      background-color: #F0F0F0;
      width: 48px;
      min-width: 48px;
      height: 48px;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      @include media($mediapoint-very-small, $mediapoint-small ) {
       display: none;
      }
    }
    &-content{
      &__title{
        /* Body/Body S Regular */

        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-align: left;

        /* Achromatic/Black Primary */
        margin: 0;
        color: #1D1D1B;
        @include media($mediapoint-very-small, $mediapoint-small) {
          text-align: center;
          font-weight: bold !important;
          margin: 10px;
          font-size: 16px;
          line-height: 20px;
        }
      }
      a{
        /* Body/Body XL Bold */
        margin: 0;

        text-decoration: none;
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */

        /* Chromatic/Orange Primary */

        color: #0094AA;
        @include media($mediapoint-very-small, $mediapoint-small) {
          text-align: center;
        }
      }
      &__description{
        margin: 0;
        /* Body/Body M Regular */

        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;

        /* Achromatic/Gray Primary */

        color: #A7A7A7 !important;
        @include media($mediapoint-very-small, $mediapoint-small) {
          text-align: center;
          font-size: 12px;
          line-height: 16px;
          margin-top: 10px;

        }
      }
    }
  }

  &_whatsup{
    width: 310px;
    border-radius: 12px;
    min-height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    align-items: center;
    @include media($mediapoint-small, $mediapoint-medium) {
      width: 285px;
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      background: inherit;
      text-align: center;
      padding: 0px 0 20px 0;
      margin: 0 auto;
    }
    &-img {
      background: #F0F0F0;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      @include media($mediapoint-very-small, $mediapoint-small) {

      }
    }

    &-content{
      &_header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img{
          margin: 0 !important;
        }
        a{
          margin: 0 !important;
        }
      }
      &__title{
        /* Body/Body S Regular */

        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-align: left;

        /* Achromatic/Black Primary */
        margin: 0;
        color: #1D1D1B;
        @include media($mediapoint-very-small, $mediapoint-small) {
          text-align: left;
          font-weight: bold !important;
        }
      }
      a{
        /* Body/Body XL Bold */
        margin: 0;

        text-decoration: none;
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */

        /* Chromatic/Orange Primary */

        color: #72cd4c;
        @include media($mediapoint-very-small, $mediapoint-small) {
          text-align: center;
        }
      }
      &__description{
        margin: 0;
        /* Body/Body M Regular */

        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        text-align: left;
        /* Achromatic/Gray Primary */

        color: #A7A7A7 !important;
        @include media($mediapoint-very-small, $mediapoint-small) {
          text-align: center;
        }
      }
    }
  }

}

.color-blue{
  color: #0094AA !important;
  font-weight: bold;
}
/*__________parsley__________*/

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #4F4F4F;
  background-color: #DFF4F7;
  border: 1px solid #DFF4F7 !important;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #E74C3C;
  background-color: #ffff;
  border: 1px solid #E74C3C !important;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #E74C3C;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.parsley-length {
  color: #F7A823;
}
/*__________parsley__________*/
.error-message{
  background-color: #F9D2CE;
  padding: 15px 40px;
  border-radius: 15px;
  display: none;
  width: auto;
  margin-top: 20px;
  @include media($mediapoint-very-small, $mediapoint-medium) {
    width: auto !important;
  }
  &.active{
    display: block;
  }
  p{
    font-weight: 600;
    font-family: Manrope;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #E74C3C;
    margin: 0;
  }
}
.confirm-message{
  background-color: #c4eab5;
  padding: 15px 40px;
  border-radius: 15px;
  width: 100%;
  margin-top: 20px;
  display: none;
  @include media($mediapoint-very-small, $mediapoint-medium) {
    width: auto !important;
  }
  &.active{
   display: block;
  }
  p{
    font-weight: 600;
    font-family: Manrope;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #56af31;
    margin: 0;
  }
}
/*____________select____________*/

.select {
  position: relative;
  display: block;
  &:focus{
    outline: none;
  }
}

.select.selected {
  .select__head {
    color: #1D1D1B;
  }
}

.select__head {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  justify-content: space-between;
  padding: 9px 15px;
  padding-right: 35px;
  color: #A7A7A7;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
  margin-top: 4px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  position: relative;
  @include media($mediapoint-very-small, $mediapoint-small) {
    text-align: center;
  }
  &_time{
    padding: 14px 15px !important;
  }
  &.open::after {
    transform: translateY(50%) rotate(180deg);
  }

  &::after {
    background-color: transparent;
    padding: 0 13px;
    position: absolute;
    right: 1px;
    top: -2px;
    transform: translateY(50%);
    content: url('../../images/chevron.png');
    display: block;
    transition: .2s ease-in;
  }
}

.select__list {
  display: none;
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 0 0 10px 10px;
  border: 1px solid #E0E0E0;
  border-top: 0;
  margin-top: 5px;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  padding: 0;
/*  &::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
  }*/

  .select__item {
    position: relative;
    padding: 10px 15px;
    color: #1D1D1B;
    cursor: pointer;
    list-style-type: none;
    @include media($mediapoint-very-small, $mediapoint-small) {
      text-align: center;
    }
    &:hover {
      background-color: rgba(224, 229, 231, 0.5);
    }
  }
}
