header{
  padding-top: 25px;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 10000;
  background-color: white;

  .header-location {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25em;
    display: flex;
    align-items: center;
    color: #A7A7A7;
    margin-left: 20px;

    img {
      margin-right: 6px;
    }

    @include media($mediapoint-very-small, $mediapoint-small ) {
      font-size: 10px;
      margin-left: 9px;
    }
  }

  .header-left {
    display: flex;
    align-items: center;
  }



  @include media($mediapoint-very-small, $mediapoint-medium ) {
    position: fixed;
    top: 0;
    height: 70px;
    background-color: white;
    z-index: 10000;
    width: 100%;
    margin: 0;
    padding-top: 25px;
    &.active{
      background-color: #f0f0f0 !important;
    }
  }
  >div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .part-menu{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: calc(100% - 0px);
      z-index: 1000;
      &.active{
        .logotype{
          position: fixed;
          left:105px;
          top: 28px;
          @include media($mediapoint-very-small, $mediapoint-small ) {
            position: relative;
            left: 0px;
            top: 0px;
          }
        }
      }

      @include media($mediapoint-medium, $mediapoint-large) {
        padding: 0 20px;
      }
      @include media($mediapoint-small-360, $mediapoint-medium) {
        padding: 0 20px;

      }
      @include media($mediapoint-very-small, $mediapoint-small-360) {
        padding: 0 10px;

      }

      .flex-grow{
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }

      @include media($mediapoint-very-small, $mediapoint-small ) {
        justify-content: space-between;
        width: 100% ;
        .flex-grow{
          flex-grow: 0;
        }
        &.active{
          .flex-grow, .enter-in-account{
            display: none;
          }
        }
      }
    }
  }
  .logotype{
    height: 48px;


  }
  .nav-bar-icon{
    margin: 0px 0px 0 30px ;
    cursor: pointer;
    padding: 0px 0px;
    position: relative;
    height: 28px;
    width: 28px;

    -webkit-tap-highlight-color: transparent;
    @include media($mediapoint-very-small, $mediapoint-small ) {
      margin: 0px 0px 0 0px ;
    }
    &.active{
      position: fixed;
      left: 18px;
      top: 38px;
      transition: 0.5s;
      @include media($mediapoint-very-small, $mediapoint-small ) {
        position: relative;
        left: 0px;
        top: 0px;
      }

      .nav-bar-icon_line:nth-child(1){
        transform: rotate(45deg);
        position: absolute;
        top: 5px;
      }
      .nav-bar-icon_line:nth-child(2){
        transform: rotate(135deg);
        position: absolute;
        top: 5px;
      }
      .nav-bar-icon_line:nth-child(3){
        height: 0;
      }
    }
    &:hover{
      .nav-bar-icon_line{
        background: #A7A7A7;
      }
    }
    &:focus{
      .nav-bar-icon_line{
        background: #4F4F4F;
      }
    }
    &_line{
      height: 2px;
      width: 28px;
      margin: 5px 0;
      background: #CCCCCC;

    }
    &_line:nth-child(1){
      position: absolute;
      top: 1px;
      transition: 0.5s;
    }
    &_line:nth-child(2){
      position: absolute;
      top: 8px;
      transition: 0.5s;
    }
    &_line:nth-child(3){
      position: absolute;
      top: 16px;
      transition: 0.5s;
    }
  }
  .orange-button{
    -webkit-tap-highlight-color: transparent;
    background: $orange;
    border-radius: 24px;
    width: 174px;
    height: 48px;
    text-align: center;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    &:hover{
      background: $orange-hover;
    }
    &:focus{
      background: $orange-action;
    }
  }
  .enter-in-account{
    margin: 0 0px 0 0;
    -webkit-tap-highlight-color: transparent;
    svg path{
      fill: $grey;
    }
    &:hover{
      svg path{
        fill: $grey-hover;
      }
    }
    &:focus{
      svg path{
        fill: $grey-action;
      }
    }
    @include media($mediapoint-very-small, $mediapoint-medium ) {
      margin: 0 0px 0 0;
    }

  }
  @include media($mediapoint-small-360, $mediapoint-small ) {
    .orange-button, .logotype{
      -webkit-tap-highlight-color: transparent;
      margin: 0 !important;
    }
    .menu{
      order: 4;
    }
    .logotype{
      line-height: 80px;
      img{
        margin-left: 5px;
        width: 90px;
      }
    }
    .flex-grow{
      order: 2;
      .orange-button{
        width: 136px;
        font-size: 14px;
        height: 40px;
      }
    }
    .enter-in-account{
      order: 3;
      line-height: 0px;
    }
  }
  @include media($mediapoint-very-small, $mediapoint-small-360 ) {
    .orange-button, .logotype{
      margin: 0 !important;
    }
    .menu{
      order: 4;
      margin-right: 5px;
    }
    .logotype{
      line-height: 80px;
      img{
        margin-left: 5px;
        width: 90px;
      }
    }
    .flex-grow{
      order: 2;
      .orange-button{
        width: 105px;
        font-size: 12px;
        height: 40px;
      }
    }
    .enter-in-account{
      order: 3;
      line-height: 0px;
    }
  }
}
.menu-bar-bg{
  display: none;
  position: absolute;

  width: calc(50% - 600px);
  height: calc(100% + 72px);
  left: 0px;
  top: -72px;
  background: #F0F0F0;
  &.active{
    display: block;
  }
}
.menu-bar{
  display: none;
  position: fixed;
  //max-width: 600px;
  width: 350px;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(240, 240, 240, 1);
  border-radius: 0px 12px 12px 0px;
  z-index: 100;
  &.active{
    display: flex;
    justify-content: flex-end;
  }
  @include media($mediapoint-medium, $mediapoint-medium-large ) {
    left: 0px;
    border-radius: 0px 12px 12px 0px;

  }
  @include media($mediapoint-small, $mediapoint-medium ) {
    left: 0px;
    border-radius: 0px 12px 12px 0px;

  }
  @include media($mediapoint-very-small, $mediapoint-small ) {
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px !important;
    margin-top: 20px;
    height: 420px;
    background: rgba(240, 240, 240, 1);
  }
  ul.list-href{
    margin-top: 100px;
    width: 70%;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    list-style: none;
    @include media($mediapoint-medium-large, $mediapoint-large ) {
      width: 70%;
    }
    @include media($mediapoint-small, $mediapoint-medium-large ) {
      width: 100%;
      padding-left: 98px;
    }
    @include media($mediapoint-very-small, $mediapoint-small ) {
      width: 100%;
      margin-top: 70px !important;
    }

    li{
      font-family: Manrope;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      -webkit-tap-highlight-color: transparent;
      padding: 10px 0;
      @include media($mediapoint-very-small, $mediapoint-small ) {
        padding: 7px 20px;
        text-align: end;
      }
      a{
        text-decoration: none;
        color: #1D1D1B;
        -webkit-tap-highlight-color: transparent;
        &:hover{
          color: #1D1D1B;
        }
        &.active{
          color: #56AF31;
        }
      }
    }

  }

}
.desktop-second-menu{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 100px 0 0 0;
  @include media($mediapoint-medium, $mediapoint-large) {
    padding: 100px 20px 0 20px;
  }
  @include media($mediapoint-small-360, $mediapoint-medium) {
    padding: 100px 20px 0 20px;

  }
  @include media($mediapoint-very-small, $mediapoint-small-360) {
    padding: 100px 20px 0 20px;

  }
  li{
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    -webkit-tap-highlight-color: transparent;
    padding: 10px 10px;
    &:first-child{
      padding:10px 10px 10px 0px !important;
    }
    &:last-child{
      padding: 10px 0px 10px 10px  !important;
    }
    @include media($mediapoint-very-small, $mediapoint-small ) {
      padding: 2px 20px;
      text-align: end;
    }
    a{
      text-decoration: none;
      color: #5a5a5a;
      -webkit-tap-highlight-color: transparent;
      &:hover{
        color: #1D1D1B;
      }
      &.active{
        color: #56AF31;
      }
    }
  }

}

#main-page {
  header .menu{
    display: none;
    @include media($mediapoint-very-small, $mediapoint-medium) {
      display: block !important;
    }
  }
  .desktop-second-menu{
    opacity: 1;
    @include media($mediapoint-very-small, $mediapoint-medium) {
     display: none;
      padding: 0px 20px 0 20px !important;
    }
  }
}

#p_prldr{
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  background: #ffffff;
  z-index: 300000;}

.contpre small{font-size:25px;}

.contpre{
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;top: 48%;
  margin-left:-125px;
  margin-top:-75px;
  color:#fff;
  font-size:40px;
  letter-spacing:-2px;
  text-align:center;
  display: flex;
  line-height: 35px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#p_prldr .svg_anm {
  position: absolute;
  width: 150px;
  height: 60px;
  background: url('../../images/dr-peso_logo%201.svg') center center no-repeat;
  background-size:contain;
}