/*
@import "./lib/materialize/materialize-src/sass/materialize.scss";
*/

body {
  margin: 0;
  padding: 0;
  @include media($mediapoint-very-small, $mediapoint-medium) {
    min-width: 300px;
  }
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  text-align: center;
}

.container-width-100 {
  margin: 0 auto;
  width: 100%;
  position: relative;

  @include media($mediapoint-very-small, $mediapoint-medium) {
    min-width: 320px;
  }
  &.padding-top-header {
    padding-top: 50px;
  }
  &.padding-top-header-100 {
    padding-top: 100px;
  }
}
.container-page {
  margin: 0 auto;
  //width: 100%;
  max-width: 1200px;
  position: relative;
  @include media($mediapoint-medium, $mediapoint-large) {
    margin: 0 25px 0 25px !important;
  }
  @include media($mediapoint-very-small, $mediapoint-medium) {
    min-width: 280px;
  }
}
.bg-grey {
  @include media($mediapoint-very-small, $mediapoint-medium) {
    background: linear-gradient(89.58deg, #4e4e4e 0%, #6d6d6d 88.94%);
  }
  background: inherit;
}

.only-mobile {
  display: none;
  @include media($mediapoint-very-small, $mediapoint-small) {
    display: block !important;
  }
}
.only-desk {
  @include media($mediapoint-very-small, $mediapoint-small) {
    display: none !important;
  }
}
.breakpoint-1 {
  position: absolute;
  top: 70%;
  left: -250px;
}

.modal-bg {
  opacity: 0;
  transition: 0.2s linear;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10001;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  overflow: auto;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &.toggle-information-bg {
      display: none;

      @include media($mediapoint-very-small, $mediapoint-medium) {
        display: block;
      }
    }
}

.toggle-modal {
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 14px;
  transition: 0.2s linear;
  position: fixed;
  top: 50%;
  width: calc(100% - 62px);
  left: 50%;
  padding: 0px 16px 16px 16px;
  z-index: 100003;
  opacity: 0;
  visibility: hidden;
  max-width: 500px;
  transform: translate(-50%, -50%);

  &.show {
    opacity: 1;
    visibility: visible;
  }

  //
  //@include media($mediapoint-small, $mediapoint-medium) {
  //  position: fixed;
  //  width: calc(100% - 84px);
  //  top: 50%;
  //  min-height: 195px;
  //  left: 50%;
  //  transform: translate(-50%, -50%);
  //}
  //
  //@include media($mediapoint-very-small, $mediapoint-small) {
  //  position: fixed;
  //  width: 100%;
  //  min-height: 195px;
  //  bottom: 0;
  //  top: auto;
  //  left: 0;
  //  margin-bottom: 0;
  //  box-sizing: border-box;
  //
  //  //.toggle-information-header {
  //  //
  //  //}
  //}

  .click-information-toggle {
    cursor: pointer;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;

    svg {
      width: 17px;
      cursor: pointer;
      height: 17px;
    }

    .toggle-modal-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.3em;
      font-family: 'Manrope';
      color: #1D1D1B;
      margin: 0;
    }
  }

  .toggle-modal-body {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4em;
    margin: 10px 0 0 0;
    color: #1D1D1B;

    b {
      margin: 10px 20px;
      display: block;
    }
  }
}


.block-1 {
  height: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 0px 0px 12px 12px;
  // margin-top: 20px;
  @include media($mediapoint-small, $mediapoint-medium) {
    align-items: flex-end;
    justify-content: center;
    height: 100% !important;
    margin-top: 100px;
  }
  @include media($mediapoint-very-small, $mediapoint-small) {
    flex-direction: column;
    height: auto;
    padding-bottom: 0px;
    padding-top: 75px;
  }

  .bg-man {
    position: relative;
    height: 100%;
    width: 50%;

    background: url("../../images/block-1.jpg") 50% 100% no-repeat;
    background-size: 90%;

    @include media(900, $mediapoint-large) {
      background-size: cover;
    }
    @include media($mediapoint-medium, 900) {
      background: none;

      &:before {
        content: "";
        position: absolute;
        min-width: 130%;
        top: 0;
        height: 100%;
        background: url(../../images/block-1.jpg) 50% 100% no-repeat;
        background-size: 100%;
        background-color: transparent;
      }
    }
    @include media($mediapoint-small, $mediapoint-medium) {
      /*width: 65%;
        position: absolute;
        left: -15px;
        z-index: 0;
        top: 0;
        background-size: contain;*/
      display: none;
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      display: none;
    }
  }
  .calculator-slider {
    width: 50%;
    margin: 0 0 50px 25px;
    padding-top: 0px;

    @include media($mediapoint-medium, $mediapoint-large) {
      margin: 0 9px 0 0;
      width: 50%;
    }
    @include media($mediapoint-small, $mediapoint-medium) {
      width: 80%;
      padding-top: 0px;
      // z-index: 100;
      margin: 20px 15px 25px 0 !important;
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      width: 90%;
      margin: 10px 0px 0px 0px;

      padding-top: 0px !important;
    }

    .description-service {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 20px 0;
      position: relative;
      z-index: 3;
      @include media($mediapoint-very-small, $mediapoint-large) {
        flex-direction: column;
        margin: 0px 0 15px 0;
        align-items: stretch;
      }

      &-box {
        width: 24%;
        background: #f0f0f0;
        border-radius: 12px;
        padding: 24px;

        @include media($mediapoint-very-small, $mediapoint-large) {
          width: auto;
          display: flex;
          flex-direction: row;
          margin: 4px 0;
          padding: 16px;
          height: auto;
          img {
            max-height: 23px;
          }
        }
        p {
          font-family: Manrope;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: #1d1d1b;
          margin: 20px 0 0 0;
          @include media($mediapoint-very-small, $mediapoint-large) {
            margin: 0px 0 0px 15px;
            font-size: 14px;
            line-height: 20px;
          }
        }

        img {
          @include media($mediapoint-very-small, $mediapoint-small) {
            max-height: 20px;
          }
        }
      }
    }

    h2 {
      /* Headers/H1 Header */
      position: relative;
      z-index: 3;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 40px;
      display: flex;
      align-items: center;
      color: #56af31;
      margin-bottom: 16px;
      @include media($mediapoint-small, $mediapoint-medium) {
        text-align: left;
        margin: 10px 0;
      }
      @include media($mediapoint-very-small, $mediapoint-small) {
        justify-content: center;
        font-size: 20px;
        margin: 10px 0px 0px 0px;
        line-height: 1.4em;
      }
    }
    p.title {
      /* Body/Body L Bold */
      position: relative;
      z-index: 3;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      margin-top: 0;

      color: #1d1d1b;
      @include media($mediapoint-small, $mediapoint-medium) {
        text-align: left;
        margin: 10px 0;
      }
      @include media($mediapoint-very-small, $mediapoint-small) {
        text-align: center;
        font-size: 16px;
        line-height: 1.3em;
        margin: 13px 0;
      }
    }
    &-box {
      max-width: 660px;
      height: 462px;
      background: #e3f7da;
      border-radius: 12px;
    }
    .calculator {
      background-color: #e3f7da;
      padding: 16px;
      border-radius: 12px;
      position: relative;

      @include media($mediapoint-small, $mediapoint-medium) {
        position: static;
      }

      .click-information-toggle {
        cursor: pointer;
      }

      .toggle-information {
        background-color: #fff;
        border-radius: 12px;
        margin-bottom: 14px;
        min-height: 234px;
        transition: 0.2s linear;
        position: absolute;
        top: 14px;
        width: calc(100% - 62px);
        left: 16px;
        padding: 0px 16px 16px 16px;
        z-index: 100033;
        opacity: 0;
        visibility: hidden;

        &.show {
          opacity: 1;
          visibility: visible;
        }

        @include media($mediapoint-small, $mediapoint-medium) {
          position: fixed;
          width: calc(100% - 84px);
          top: 50%;
          min-height: 195px;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        @include media($mediapoint-very-small, $mediapoint-small) {
          position: fixed;
          width: 100%;
          min-height: 195px;
          bottom: 0;
          top: auto;
          left: 0;
          margin-bottom: 0;
          box-sizing: border-box;

          .toggle-information-header {
            svg {
              width: 20px;
              height: 20px;
            }
          }
        }

        &-header {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          align-items: center;
          margin-top: 15px;
        }
        p {
          /* Body/Body M Regular */

          font-family: Manrope;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #1d1d1b;
        }
      }

      .calculator__sum {
        background-color: #fff;
        border-radius: 12px;
        padding: 0 16px 10px 16px;
        margin-bottom: 14px;
        // height: 96px;
        transition: background 1s linear 0s;
        &.blocked {
          cursor: wait;
          background-color: #f5fbf3 !important;
          #form-sum,
          #form-day {
            pointer-events: none;
          }
        }
        #calculator__sum,
        #calculator__day {
          font-size: 16px;
        }

        #calculator__sum {
          margin-left: 10px;
        }

        .calculator__sum__text-top {
          display: flex;
          justify-content: space-between;

          p.body_m-bold {
            font-family: Manrope;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: #4f4f4f;
            @include media($mediapoint-very-small, $mediapoint-small-360) {
            }
          }
          p.body_l-bold {
            font-family: Manrope;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: #56af31;
            white-space: nowrap;

            @include media($mediapoint-very-small, $mediapoint-small-360) {
            }
          }
        }

        .calculator__sum__text-bottom {
          display: flex;
          justify-content: space-between;
          color: #a7a7a7;
          margin-top: 10px;
          p {
            font-family: Manrope;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            margin: 0;
          }
        }
      }

      .calculator__rainbow {
        border-radius: 12px;
        padding: 0 5px;
        margin-bottom: 14px;
        height: 135px;
        transition: background 1s linear 0s;
        position: relative;
        @include media($mediapoint-medium, $mediapoint-medium-large) {
          height: 135px !important;
        }
        @include media($mediapoint-very-small, $mediapoint-medium) {
          padding: 0px !important;
        }
        p.title {
          font-family: Manrope;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 28px;
          margin: 15px 0;
          color: #1d1d1b;
          @include media($mediapoint-very-small, $mediapoint-medium) {
            font-size: 14px;
            line-height: 20px;
          }
        }
        &-line {
          height: 8px;
          background: linear-gradient(90deg, #e74c3c 0%, #f7a823 29.79%, #f7d62f 50.78%, #5cf73b 70.51%, #56af31 100%);
          border-radius: 4px;
          margin: 15px 0;
          margin: 15px 0 5px 0;
        }

        &-numbers {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          &-box {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            min-width: 91px;
            max-width: 160px;
            height: 36px;
            padding: 0 10px;
            background: #d0f1c1;
            border-radius: 5px;
          }
          &-info {
            p {
              margin: 0;
              font-size: 12px !important;
              line-height: 16px !important;
              font-weight: normal !important;
            }
          }
          &-wrong {
            p {
              font-family: Manrope;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 20px;
              color: #e74c3c;
              margin-right: 5px;
            }
            &#wrong-number-rainbow:before {
              content: "";
              position: absolute;
              left: 0px;
              bottom: -6px;
              border: 7px solid transparent;
              border-left: 13px solid #d0f1c1;
            }
          }
          &-good {
            p {
              font-family: Manrope;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 20px;
              margin-right: 5px;
              color: #56af31;
            }
            &#good-number-rainbow:before {
              content: "";
              position: absolute;
              right: 0px;
              bottom: -6px;
              border: 7px solid transparent;
              border-right: 13px solid #d0f1c1;
            }
          }
        }
        .calculator__sum__text-bottom {
          display: flex;
          justify-content: space-between;
          color: #a7a7a7;
          margin-top: 10px;
          p {
            font-family: Manrope;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            margin: 0;
          }
        }
      }

      .calculator__info {
        & button {
          color: #56af31;
          border: none;
          -webkit-tap-highlight-color: transparent;
          background-color: transparent;
          cursor: pointer;
          font-family: Manrope;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 28px;
          text-align: center;
          width: 100%;
          height: 35px;
          @extend %d-flex-row;
          @extend %d-flex-center-center;
          &.active {
            color: #56af31;
            svg path {
              fill: #56af31;
            }
          }
          svg {
            margin-left: 5px;
            path {
              fill: #56af31;
            }
          }
          &:hover {
            color: #56af31;
            svg path {
              fill: #56af31;
            }
          }
        }

        & p {
          margin-top: 16px;
          margin-bottom: 4px;
          font-family: Manrope;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
        }

        & div {
          .more-visiable {
            li {
              font-size: 14px;
              font-weight: bold;
              color: #3f8024;
            }
            .body_m-bold {
              color: #3f8024;
            }
          }
          & ul {
            display: flex;
            justify-content: space-between;
            margin: 0 0 6px 0;
            padding: 0;
            .body_m-bold {
              color: #56af31;
              width: 30%;
              min-width: 80px;
              text-align: right;
              font-weight: bold !important;
            }

            & li {
              list-style-type: none;
              font-family: Manrope;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #4f4f4f;
              > span {
                font-size: 12px;
                line-height: 16px;
                color: #a7a7a7;
              }
            }
          }
        }
      }

      .calculator_column-left {
        border-right: 1px solid #fff;
        padding-right: 16px;
        margin-right: 16px;
        width: 50%;
        min-height: 80px;
        @include media($mediapoint-very-small, $mediapoint-medium-large) {
          width: 100%;
          padding-right: 0px;
          margin-right: 0px;
          min-height: 60px !important;
          height: auto;
          border-right: 0px solid #fff !important;
        }
      }
      .calculator_column-right {
        width: 50%;
        min-height: 80px;
        @include media($mediapoint-very-small, $mediapoint-medium-large) {
          width: 100%;
          min-height: 60px !important;
          height: auto;
        }
      }

      .calculator__button {
        margin: 15px 0;
        -webkit-tap-highlight-color: transparent;
        text-align: center;
        & a {
          & img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            margin-top: -3px;
          }
        }
      }
    }

    /* _________accordion_____________ */

    .button-amount {
      -webkit-tap-highlight-color: transparent;
      .fa-chevron-up {
        transform: rotate(180deg);
        transition: 0.3s ease-out;
      }
    }

    .amount-detalis {
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-out;
      margin-top: 8px;
      @extend %d-flex-row;
      justify-content: flex-start;
      align-items: flex-start;
      @include media($mediapoint-very-small, $mediapoint-medium-large) {
        flex-direction: column !important;
        &.active {
          height: auto !important;
        }
      }
      &.active {
        height: 140px;
      }
    }
  }
}
.green-button {
  background-color: $green;
  color: #fff !important;
  box-shadow: 0px 4px 14px rgba(80, 163, 46, 0.32);
  border-radius: 24px;
  padding: 12px 38px;
  cursor: pointer;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  border: none;
  max-width: 186px;
  @extend %d-flex-row;
  @extend %d-flex-center-center;
  width: 50%;
  min-width: 150px;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
  @include media($mediapoint-very-small, $mediapoint-medium) {
    width: auto;
    max-width: 180px;
    &.w-100 {
      width: 100% !important;
      text-align: center;
    }
  }
  &:hover {
    background-color: $green-hover;
  }
  &:focus {
    background-color: $green-action;
  }
  img {
    margin-right: 10px;
  }
}
.black-button {
  background-color: #1d1d1b;
  color: #fff !important;
  border-radius: 24px;
  padding: 12px 38px;
  cursor: pointer;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  border: none;
  max-width: 236px;
  @extend %d-flex-row;
  @extend %d-flex-center-center;
  width: 100%;
  min-width: 150px;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
  @include media($mediapoint-very-small, $mediapoint-medium) {
    width: auto;
    max-width: 180px;
    &.w-100 {
      width: 100% !important;
    }
  }
  &:hover {
    background-color: #404040;
  }
  &:focus {
    background-color: #000000;
  }
  img {
    margin-right: 10px;
  }
}
.orange-button-event {
  background: #f7a823;
  box-shadow: 0px 4px 12px rgba(247, 168, 35, 0.48);
  color: #fff !important;
  border-radius: 24px;
  padding: 12px 0px;
  cursor: pointer;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  border: none;
  @extend %d-flex-row;
  @extend %d-flex-center-center;
  width: calc(100% - 30px);
  min-width: 150px;
  margin: 0 15px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  height: 23px;
  @include media($mediapoint-very-small, $mediapoint-medium) {
  }
  &:hover {
    background-color: #404040;
  }
  &:focus {
    background-color: #000000;
  }
  img {
    margin-right: 10px;
  }
  &.abs-position-button {
    position: absolute;
    bottom: 40px;
  }
}
.block-2 {
  min-height: 320px;
  background: linear-gradient(89.58deg, #4e4e4e 0%, #6d6d6d 88.94%);

  &-main-container {
    position: relative;
    margin: 0 0 0 5px;
    @include media($mediapoint-medium, $mediapoint-large) {
      margin: 0 0 0 45px;
    }
    @include media($mediapoint-small, $mediapoint-medium) {
      margin: 0 0 0 45px;
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      margin: 0 0 0 0px;
    }
  }

  .abs-posotion-img {
    position: absolute;
    bottom: 0;
    right: -35px;
    width: 335px;
    z-index: 0;
    @include media($mediapoint-medium, $mediapoint-large) {
      right: 0px;
      width: 435px;
    }
    @include media($mediapoint-small, $mediapoint-medium) {
      right: 0px;
      width: 350px;
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      position: relative;
      max-width: 500px;
      right: 15px !important;
      width: 100%;
    }
  }

  &-main-container {
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 30px;
    position: relative;
    @include media($mediapoint-very-small, $mediapoint-small) {
      padding-left: 0px;
      padding-top: 40px;
      padding-bottom: 20px;
      &:before {
        content: "";
        height: 23px;
        width: 100%;
        background-color: white;
        position: absolute;
        top: -2px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
  }

  .title-block {
    /* Headers/H1 Header */

    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */
    margin: 15px 0 10px 0;
    display: flex;
    align-items: center;
    text-align: center;

    /* Chromatic/Orange 1 */

    color: #f7a823;

    @include media($mediapoint-small, $mediapoint-medium) {
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      justify-content: center;
      font-size: 20px;
    }
  }

  &-description {
    padding: 10px 0px 10px 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    max-width: 870px;
    z-index: 1;
    @include media($mediapoint-medium, $mediapoint-large) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: 350px;
      .column-information {
        margin: 25px 10px !important;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        p {
          text-align: left;
          margin: 0;
        }
      }
    }

    @include media($mediapoint-small, $mediapoint-medium) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: 350px;
      .column-information {
        margin: 25px 10px !important;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        p {
          text-align: left;
          margin: 0;
          padding: 0 !important;
        }
      }
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      max-width: 350px;
      .column-information {
        margin: 10px 0;
      }
    }
    .column-information {
      text-align: center;
      margin: 10px 10px;

      width: 33%;
      @include media($mediapoint-very-small, $mediapoint-large) {
        width: 100% !important;
      }
      &:first-child,
      &:last-child {
        .description-column {
          padding: 0px 20px;
        }
      }
    }

    .title-column {
      /* Body/Body L Bold */
      margin: 0px 0 0 0;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #f7a823;
      @include media($mediapoint-very-small, $mediapoint-medium) {
        justify-content: center;
        font-size: 16px;
        line-height: 20px;
      }
    }

    p {
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      margin: 5px 0;
      text-align: center;
      color: #ffffff;
    }
  }
}

.box-payment-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 460px;
  width: 100%;

  @include media($mediapoint-small, $mediapoint-medium-large) {
    flex-direction: column;
  }
  @include media($mediapoint-very-small, $mediapoint-small) {
    flex-direction: column;
    width: 100%;
  }
}

.description-choose-img {
  &[data-img="left"] {
    background: url("../../images/how-to-use-left.png") 50% 40% no-repeat;
  }

  &[data-img="middle"] {
    background: url("../../images/how-to-use-2-middle.png") 50% 100% no-repeat;
  }
}

body.webp {
  .description-choose-img {
    &[data-img="left"] {
      background: url("../../images/how-to-use-left.webp") 50% 40% no-repeat;
    }

    &[data-img="middle"] {
      background: url("../../images/how-to-use-middle.webp") 50% 100% no-repeat;
    }
  }
}


.block-3 {
  background: #F0F0F0;
  position: relative;
  @include media($mediapoint-very-small, $mediapoint-small) {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: -29px;
  }

  &-main-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px 0 0px 0;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0 45px 0 45px;
    position: relative;
    min-height: 400px;

    .description-choose-img {
      background: none !important;
    }

    @include media($mediapoint-very-small, $mediapoint-medium-large) {
      text-align: center;
      align-items: center;
      flex-direction: column;
      margin: 0 15px 0 15px;
    }

    .block-img {
      width: auto;
    }

    h2 {
      /* Headers/H1 Header */

      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 40px;
      /* identical to box height, or 143% */
      color: #1D1D1B;
      @include media($mediapoint-small, $mediapoint-medium) {
        text-align: left;
      }
      @include media($mediapoint-very-small, $mediapoint-small) {
        justify-content: center;
        font-size: 20px;
      }
    }

    p {
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: #1D1D1B;
    }

    .how-does-it-work {
      max-width: 460px;
      @include media($mediapoint-small, $mediapoint-medium-large) {
        max-width: 768px;
        width: calc(100% - 90px);
        margin: 0 45px 0 45px;
      }
      @include media($mediapoint-very-small, $mediapoint-small) {
        order: 0;
        padding-bottom: 220px;
      }
    }

  }
}

.switch-menu {
  width: 460px;
  height: 48px;
  background: #E4E4E4;
  border-radius: 24px;
  border: 0.5px solid #E0E0E0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  @include media($mediapoint-very-small, $mediapoint-small) {
    min-width: 250px;
    width: 100%;
    height: 40px;
  }

  > div.point-menu {
    color: #4F4F4F;
    letter-spacing: -0.08px !important;
    cursor: pointer;
    z-index: 2;
    height: 100%;
    width: 33%;
    justify-content: center;
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Achromatic/Gray 4 */

    color: #4F4F4F;

    &.active {
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height, or 125% */

      display: flex;
      align-items: center;
      text-align: center;

      /* Achromatic/White */

      color: #FFFFFF;
    }
  }
}

.point-menu-active {
  position: absolute;
  height: 47px;
  width: 50%;
  top: 0;
  left: 0;
  z-index: 0;
  background: #56af31;
  /* Button/Switcher */
  box-shadow: 0px 2px 4px 1px rgba(49, 49, 49, 0.08);
  border-radius: 24px;
  border: 1px solid #eaeaea;
  transition: all 0.4s ease-in-out;
  z-index: 0;
  &[data-active="left"] {
    left: 0;
  }
  &[data-active="middle"] {
    left: calc(50% - 2px);
  }

  @include media($mediapoint-very-small, $mediapoint-small) {
    height: 38px;
    border: none;

    &[data-active="left"] {
      left: 0;
    }
    &[data-active="middle"] {
      left: 50%;
    }
  }
}


.logo-payment {
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 20px;
  width: 47%;
  margin: 0 0px 20px 0;
  text-align: center;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  @include media($mediapoint-small, $mediapoint-medium-large) {
    width: 100%;
    height: 56px;
    margin-bottom: 12px;
  }

  @include media($mediapoint-very-small, $mediapoint-small) {
    width: 100% !important;
    box-sizing: border-box;
    height: 42px;
    margin: 5px 0 !important;
    max-width: 100%;

    padding: 10px !important;
  }

  img {
    margin-right: 8px;
  }

  p {
    font-weight: 700;
    font-size: 12px !important;
    line-height: 1.25em;
    margin: 0 !important;
    text-align: center;

    color: #1D1D1B;
  }
}
.description-choose-img {
  width: 40vw;
  max-width: 470px;
  margin: 0;
  bottom: -5px;
  left: 0;
  position: absolute;
  background: none;

  img {
    width: 100%;
  }

  @include media($mediapoint-small, $mediapoint-medium-large) {
    width: 100% !important;
    max-width: 355px;

    &[data-img="left"] {
      position: static !important;
    }
  }
  @include media($mediapoint-very-small, $mediapoint-small) {
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    bottom: 0px;

    max-width: 285px;

    img {
      margin-bottom: -5px;
    }
  }
}

.description-choose {
  margin-bottom: 50px;

  @include media($mediapoint-small, $mediapoint-medium-large) {
    max-width: 768px;
    width: 100%;
  }
  @include media($mediapoint-very-small, $mediapoint-small) {
    max-width: 460px;
    margin: 0 auto 50px auto;
    min-height: 84px;
    p {
      text-align: center;
      font-size: 16px;
      line-height: 20px;
    }
  }
}


.additional-info {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  max-width: 460px;
  flex-wrap: wrap;
  @include media($mediapoint-small, $mediapoint-medium-large) {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 768px;

    .additional-info-body {
      max-width: 40%;
    }
  }
  @include media($mediapoint-very-small, $mediapoint-small) {
    justify-content: stretch !important;
    flex-direction: column !important;
    align-items: center !important;
    max-width: 460px;
    margin: 0 auto;

    .main-box {
      width: 95% !important;
      max-width: 460px;
      padding: 8px !important;
      margin: 10px auto !important;

      p {
        text-align: left;
      }
    }
  }
}

.block-4 {
  min-height: 360px;
  background: radial-gradient(62.74% 42.07% at 50% 83.85%, #f7d523 0%, #f7bc23 100%);
  position: relative;
  @include media($mediapoint-small, $mediapoint-medium) {
    .container-page {
      text-align: center;
    }
  }
  @include media($mediapoint-very-small, $mediapoint-small) {
    .container-page {
      text-align: center;
    }
  }

  h2 {
    margin: 5px 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #1d1d1b;
    @include media($mediapoint-small, $mediapoint-medium) {
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      justify-content: center;
      font-size: 20px;
      margin-bottom: 15px;
      padding-top: 30px;
    }
  }
  .abs-posotion-img {
    position: absolute;
    bottom: -49px;
    right: 0;
    z-index: 0;
    @include media($mediapoint-medium, $mediapoint-large) {
      width: 450px;
    }
    @include media($mediapoint-small, $mediapoint-medium) {
      max-width: 400px;
      width: 100%;
      bottom: -58px;
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      position: relative;
      max-width: 500px;
      width: 100%;
      bottom: 15px;
      transform: scale(-1, 1);
    }
  }
  &-main-container {
    padding: 35px 0 10px 0;
    margin: 0 0px 0 0px;
    @include media($mediapoint-medium, $mediapoint-large) {
      margin: 0 0px 0 45px !important;
    }
    @include media($mediapoint-small, $mediapoint-medium) {
      margin: 0 0px 0 45px !important;
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      padding: 25px;
      margin: 0 0px 0 0px;
      &:after {
        content: "";
        height: 30px;
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        bottom: -2px;
        left: 0;
        border-top-left-radius: 12px;
        z-index: 100;
        border-top-right-radius: 12px;
      }
    }
  }
  .block-4-description {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
    z-index: 1;
    @include media($mediapoint-small, $mediapoint-medium) {
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      max-width: 400px;
      margin: 0 auto;
    }
  }

  /*  .columns-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  //  flex-wrap: wrap;
    height: 47px;
    justify-content: space-between;
    .img-point {
      margin-right: 15px;

      &img {
        max-width: 48px;
        margin: 0 auto;
      }
    }
    p {
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      text-align: left;
      @include media($mediapoint-very-small, $mediapoint-medium ) {
        font-size: 16px;
        line-height: 18px;
      }
      color: #1D1D1B;
    }
  }*/
}

.block-5 {
  min-height: 200px;
  padding: 10px 0px 30px 0px;
  text-align: center;
  @include media($mediapoint-small, $mediapoint-medium) {
  }
  @include media($mediapoint-small-360, $mediapoint-small) {
    padding: 25px;
    .block-text {
      display: none;
    }
    .block-img {
      width: 350px;
    }
    .block-button {
      width: 300px;
    }
  }
  @include media($mediapoint-very-small, $mediapoint-small-360) {
    padding: 0 15px;
    .block-text {
      display: none;
    }
    .block-img {
      width: 350px;
    }
    .block-button {
      width: 300px;
    }
  }

  h2 {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #1d1d1b;
    @include media($mediapoint-very-small, $mediapoint-small) {
      margin: 0;
      font-size: 20px;
      line-height: 28px;
    }
  }
  &-main-container {
    @include media($mediapoint-very-small, $mediapoint-small) {
      margin: 0 0px 0 0px;
    }
    margin: 0 45px 0 45px;
  }
}

.feedback-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  @include media($mediapoint-very-small, $mediapoint-medium) {
    margin: 25px 0;
  }
  .item {
    //margin-right: 25px ;
  }

  .feedback-person {
    > img {
      width: 52px !important;
      height: 52px;
      margin-right: 10px;
    }
    .feedback-person__personal {
      img {
        height: 24px;
        width: 114px;
      }
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    p {
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #1d1d1b;
      margin: 5px 0;
      @include media($mediapoint-very-small, $mediapoint-small-360) {
        font-size: 14px;
      }
      span {
        color: #a7a7a1;
        padding: 0 0px;
        font-weight: 100;
      }
    }
  }
  .feedback-content {
    background: #0094aa;
    box-shadow: 0px 4px 8px rgba(0, 148, 170, 0.12);
    border-radius: 0px 12px 12px 12px;
    p {
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      color: #ffffff;
      padding: 25px;
      text-align: left;
      @include media($mediapoint-very-small, $mediapoint-medium) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.carousel-button {
  -webkit-tap-highlight-color: transparent;
  border: 2px solid #0094aa;
  box-sizing: border-box;
  border-radius: 24px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  width: 256px;
  height: 48px;
  cursor: pointer;
  background: $blue-hover;
  a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
  }
  @include media($mediapoint-very-small, $mediapoint-small) {
    width: 100%;
    text-align: center;
    justify-content: center;
    border: 0px solid #0094aa;
  }
  &:hover {
    background-color: $blue;
    border-color: $blue;
    color: white;
  }
  &:focus {
    background-color: $blue-action;
    border-color: $blue-action;
    color: white;
  }
}

*
/*________________noUiSlider styles________________*/
.noUi-value-horizontal {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}
#slider_sum .noUi-value-horizontal[style="left: 0%;"] {
  left: 7% !important;
  @include media($mediapoint-very-small, $mediapoint-medium) {
    left: 12% !important;
  }
}
#slider_sum .noUi-value-horizontal[style="left: 100%;"] {
  left: 92% !important;
  @include media($mediapoint-very-small, $mediapoint-medium) {
    left: 87% !important;
  }
}
#slider_day .noUi-value-horizontal[style="left: 0%;"] {
  left: 4% !important;
  @include media($mediapoint-very-small, $mediapoint-medium) {
    left: 6% !important;
  }
}
#slider_day .noUi-value-horizontal[style="left: 100%;"] {
  left: 96% !important;
  @include media($mediapoint-very-small, $mediapoint-medium) {
    left: 92% !important;
  }
}
.noUi-pips-horizontal {
  padding: 0px 0 !important;
  height: 20px !important;
}

.noUi-target {
  background: #fafafa !important;
  border: 0 !important;
  box-shadow: 0 !important;
  border-radius: 2px !important;
  height: 4px !important;
}

.noUi-handle:focus,
.noUi-handle-lower:focus {
  outline: none !important;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -30px !important;
}

.noUi-handle {
  border: 0 !important;
  background: transparent !important;
  cursor: pointer !important;
  box-shadow: none !important;

  &:after,
  &:before {
    display: none !important;
  }
}
.noUi-marker-horizontal {
  display: none;
}
.noUi-touch-area {
  border-radius: 100%;
  background-color: #56af31 !important;
  width: 16px !important;
  height: 16px !important;

  &:focus {
    outline: none;
  }
}

.noUi-connect {
  background: #56af31 !important;
}

.owl-carousel {
  position: relative;
  //max-width: 1000px;

  .owl-nav {
    position: absolute;
    top: 360px;
    width: 100%;
    display: none;
  }

  .owl-prev {
    position: absolute;
    left: 0;
  }

  .owl-next {
    position: absolute;
    right: 0;
  }

  .owl-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 40px;
    button {
      -webkit-tap-highlight-color: transparent;
      margin: 0;
    }
  }

  .owl-dots .owl-dot.active span {
    width: 11px !important;
    height: 11px !important;
    background: #0094aa !important;
  }

  .owl-dots .owl-dot span {
    width: 5px !important;
    height: 5px !important;
    background: #c4c4c4;
    margin: 5px 3px !important;
  }

  .owl-nav [class*="owl-"]:hover {
    background: #fff !important;
    color: #fff;
    text-decoration: none;
  }

  .owl-nav [class*="owl-"]:focus {
    outline: none;
  }
}
.preloader-box {
  display: none;
  width: 100%;
  .preloader-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
      width: 35px;
    }
  }
  svg.preloader {
    stroke: #56af31;
  }
}

.columns-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  //  flex-wrap: wrap;
  min-height: 47px;
  justify-content: space-between;
  padding-right: 50px;
  @include media($mediapoint-very-small, $mediapoint-small) {
    padding-right: 0px;
  }
  svg {
    width: 30px;
    margin-right: 20px;
  }
  .img-point {
    margin-right: 15px;

    &img {
      max-width: 48px;
      margin: 0 auto;
    }
  }
  p {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin: 15px 0;
    @include media($mediapoint-very-small, $mediapoint-medium) {
      font-size: 16px;
      line-height: 18px;
    }
    color: #1d1d1b;
  }

  p.small {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    margin: 15px 0;
    @include media($mediapoint-very-small, $mediapoint-medium) {
      font-size: 16px;
      line-height: 18px;
    }
    color: #1d1d1b;
  }
}
.news-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  @include media($mediapoint-medium, $mediapoint-medium-large) {
    justify-content: left;
    flex-wrap: wrap;
  }
  @include media($mediapoint-very-small, $mediapoint-medium) {
    justify-content: center;
    flex-wrap: wrap;
  }
  > div {
    margin-bottom: 15px;
  }
  &_main {
    background: url("../../../images/news/1.png") 0 0 no-repeat;
    background-size: auto;
    width: 359px;
    height: 290px;
    position: relative;
    margin-right: 25px;
    border-radius: 13px;
    @include media($mediapoint-medium-medium, $mediapoint-medium-large) {
      margin-top: 0px;
    }
    @include media($mediapoint-medium, $mediapoint-medium-medium) {
      width: 410px;
      background-size: cover;
      margin: 0 auto !important;
    }
    @include media($mediapoint-small, $mediapoint-medium) {
      width: 410px;
      margin: 0 auto !important;
      background-size: cover;
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      width: 100%;
      max-width: 359px;
      margin: 0 auto !important;
      background-size: cover;
    }
    p {
      color: #ffffff;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      bottom: 0;
      position: absolute;
      padding: 15px;
    }
  }
  &_other {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    @include media($mediapoint-medium-medium, $mediapoint-medium-large) {
      margin-top: 0px;
    }
    @include media($mediapoint-medium, $mediapoint-medium-medium) {
      margin-top: 15px;
    }
    @include media($mediapoint-very-small, $mediapoint-medium) {
      margin-top: 15px;
    }
    &-box {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: self-start;
      min-height: 85px;
      max-width: 410px;
      @include media($mediapoint-medium-medium, $mediapoint-medium-large) {
        margin: 0px 0;
      }
      @include media($mediapoint-medium, $mediapoint-medium-medium) {
        margin: 15px 0;
      }
      @include media($mediapoint-very-small, $mediapoint-medium) {
        margin: 15px 0;
      }
      img {
        margin-right: 15px;
      }
      > div {
        p {
          margin: 0;
        }
        .news-small_title {
          font-family: Manrope;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;
          /* identical to box height, or 133% */

          /* Achromatic/Gray 3 */

          color: #a7a7a7;
        }
        .news-main_title {
          /* Body/Body M Bold */

          font-family: Manrope;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
          /* or 143% */

          /* Achromatic/Black */

          color: #1d1d1b;
        }
      }
    }
  }
}
.sobre {
  width: 100%;
  background: url(../../images/About.png) 100% 100% no-repeat;
  background-size: 50%;
  height: 100%;
  min-height: 696px;
  padding: 30px 0 50px 0 !important;
  @include media($mediapoint-small, $mediapoint-medium) {
    background-size: 60%;
    .container-page {
      margin: 0 25px 0 25px !important;
    }
  }
  @include media($mediapoint-very-small, $mediapoint-small) {
    background-size: 100%;
    .container-page {
      width: calc(100% - 40px);
      margin: 0 20px !important;
    }
  }
  @include media($mediapoint-very-small, $mediapoint-small) {
    margin: 0 0px !important;
  }
  .half-width {
    max-width: 75%;
    margin: 0;
    @include media($mediapoint-small, $mediapoint-medium) {
      max-width: 100%;
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      max-width: 100%;
    }
    .columns-flex {
      @include media($mediapoint-small, $mediapoint-medium) {
        max-width: 50%;
      }
      @include media($mediapoint-very-small, $mediapoint-small) {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        p {
          text-align: center;
        }
      }
    }
    .green-button {
      @include media($mediapoint-very-small, $mediapoint-small) {
        margin-top: 285px;
        text-align: center;
      }
    }
    h2 {
      @include media($mediapoint-small, $mediapoint-medium) {
        margin-bottom: 0;
      }
    }
  }
  .why-we {
    position: relative;
    &-content {
      padding-top: 105px;
      @include media($mediapoint-very-small, $mediapoint-small) {
        padding-top: 55px;
      }
      h3 {
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 40px;
        @include media($mediapoint-small, $mediapoint-medium) {
          text-align: center;
        }
        @include media($mediapoint-very-small, $mediapoint-small) {
          font-size: 20px;
          line-height: 28px;
          text-align: center;
        }
      }
      &-boxs {
        display: flex;
        flex-direction: row;
        padding-bottom: 0px !important;
        align-items: baseline;
        justify-content: space-between;
        margin-top: 25px;
        margin-bottom: 160px;
        @include media($mediapoint-small, $mediapoint-medium) {
          margin-bottom: 130px;
        }
        @include media($mediapoint-very-small, $mediapoint-small) {
          flex-direction: column;
          margin-bottom: 70px;
        }
        &_box {
          width: 30%;
          text-align: center;
          @include media($mediapoint-very-small, $mediapoint-small) {
            width: 100%;
            margin-bottom: 36px;
          }
          h3 {
            margin: 20px 0 10px 0;
            @include media($mediapoint-small, $mediapoint-medium) {
              font-family: Manrope;
              font-style: normal;
              font-weight: bold;
              font-size: 20px;
              line-height: 28px;
            }
            @include media($mediapoint-very-small, $mediapoint-small) {
              font-family: Manrope;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 20px;
              text-align: center;
              margin: 0px 0 10px 0;
            }
          }
          p {
            font-family: Manrope;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            margin: 0;
            text-align: center;
            @include media($mediapoint-very-small, $mediapoint-small) {
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
  .polygon-clip {
    background: #f0f0f0;
    clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 20%);
    position: absolute;
    height: 575px;
    width: 100%;
    @include media($mediapoint-small, $mediapoint-medium) {
      clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
      height: 600px;
    }
    @include media(515, $mediapoint-small) {
      clip-path: polygon(100% 0, 100% 93%, 0 100%, 0 7%);
      height: 800px;
    }
    @include media($mediapoint-small-360, 515) {
      clip-path: polygon(100% 0, 100% 93%, 0 100%, 0 7%);
      height: 820px;
    }
    @include media($mediapoint-very-small, $mediapoint-small-360) {
      clip-path: polygon(100% 0, 100% 93%, 0 100%, 0 7%);
      height: 880px;
    }
  }
}

.preguntas {
  width: 100%;
  background: url(../../images/Ask.png) 100% 100% no-repeat;
  background-size: auto;
  height: 100%;
  min-height: 505px;
  padding: 30px 0 50px 0 !important;

  @include media($mediapoint-small, $mediapoint-medium-large) {
    background: none;
    .container-page {
      margin: 0 25px 0 25px !important;
    }
  }
  @include media($mediapoint-very-small, $mediapoint-small) {
    background: none;
    width: calc(100% - 40px);
  }
}
.haga {
  background-size: inherit;
  height: 100%;
  min-height: 505px;
  padding: 30px 0 50px 0;
  @include media($mediapoint-very-small, $mediapoint-small) {
    padding: 30px 0 0px 0;
  }
}



//body.webp {
//  .description-choose-img {
//    &[data-img="middle"] {
//      background: url("../../images/how-to-use-2.webp") 50% 100% no-repeat;
//    }
//  }
//}

.point-menu-text {
  display: none;
  min-height: 60px;
  @include media($mediapoint-small, $mediapoint-medium) {
    text-align: left;
    p {
      text-align: left;
    }
  }

  span {
    color: #56AF31;
  }

  &.active {
    display: block;
    max-width: 768px;
  }
}


.como-usarlo {
  display: flex;
  flex-direction: row;
  padding-bottom: 0px !important;
  align-items: flex-start;
  justify-content: space-between;

  @include media($mediapoint-very-small, $mediapoint-small) {
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 0 15px 0 15px;
  }
  &-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    flex-wrap: wrap;
  }

  .acceder {
    background: radial-gradient(62.74% 42.07% at 50% 83.85%, #f7d523 0%, #f7bc23 100%);
    border-radius: 12px;
    width: 360px;
    max-width: 786px;
    height: 172px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    @include media($mediapoint-small, $mediapoint-large) {
      margin-top: 30px;
      width: 100%;
      height: 115px;
      > div {
        width: 100% !important;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 20px;
        a {
          margin: 0 !important;
        }
      }
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      margin-bottom: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      width: 100%;
    }
    > div {
      width: 312px;
    }
    p {
      text-align: left;
      padding-right: 50px;
      margin-top: 0;
      @include media($mediapoint-small, $mediapoint-medium) {
        padding-right: 0px;
        margin-bottom: 0;
      }
      @include media($mediapoint-very-small, $mediapoint-small) {
        text-align: center;
        padding-right: 0px;
      }
    }
  }
  .forms-block_form {
    padding-bottom: 0 !important;
    width: 736px;
    @include media($mediapoint-small, $mediapoint-medium) {
      background: white;
      padding: 0 !important;
    }
  }
  .description-choose {
    @include media($mediapoint-small, $mediapoint-medium-large) {
      max-width: 768px;
      width: 100%;
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      max-width: 460px;
      margin: 0 auto;
      min-height: 84px;
      p {
        text-align: center;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  .block-img {
    width: auto;
  }
  .description-choose-img {
    width: 100%;
    max-width: 470px;
    margin: 0 auto;
    background-size: contain !important;
    height: 420px;
    //display: none;
    position: static;
    &.width-768 {
      display: none;
    }

    @include media($mediapoint-small, $mediapoint-medium-large) {
      display: none;

      &.width-768 {
        position: absolute;
        margin: 0px 0 0 0;
        width: 100% !important;
        height: 285px !important;
        z-index: 100;
        max-width: 355px;
        display: block;
        box-shadow: none;

        &[data-img="left"] {
          margin: 0 auto !important;
        }
      }
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      margin: 40px 0 0 0 !important;
      width: 100% !important;
      order: 1;
      height: 220px !important;
      position: absolute;
      bottom: 0px;
      z-index: 100;
      left: 50%;
      max-width: 250px;
    }
  }

  h2 {
    /* Headers/H1 Header */

    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */
    color: #1d1d1b;
    @include media($mediapoint-small, $mediapoint-medium) {
      text-align: left;
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      justify-content: center;
      font-size: 20px;
      margin: 0;
    }
  }
  p {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3em;
    color: #1d1d1b;
  }
  .how-does-it-work {
    width: 100%;
    @include media($mediapoint-small, $mediapoint-medium-large) {
      max-width: 768px;
      width: auto;
    }
    @include media($mediapoint-very-small, $mediapoint-small) {
      order: 0;
      width: 100%;
      padding-bottom: 250px;
    }
  }
}



.circle-menu{
  position: fixed;
  list-style: none;
  margin:0 0 ;
  padding: 0 0;
  bottom: 35px;
  right: 10px;
  width: 70px;
  height: 70px;
  z-index: 999;

  span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius:50%;
    cursor: pointer;
    z-index:2;
    left: 0;
    bottom: 0;
    transform: translate(-25%, 25%);
    transition: 0.3s;
    user-select: none;
    background: url(../../images/circle-menu.svg) 50% 50% / 40% no-repeat;
    background-color: #42AB44;

    &:hover {
      background-color: #245F34;
    }

    &.active-menu {
      background-color: #245F34;
      background-image: url(../../images/circle-menu-close.svg);
    }

    img {
      width: 40%;
      height: 40%;
    }
  }

    li{
      position: absolute;
      width: 35px;
      height: 35px;
      overflow: hidden;
      border-radius:50%;
      background: teal;
      z-index: 1;
      cursor: pointer;
      bottom: 0;
      left: 0;
      transition: 0.3s;
    }
}

.main-box {
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  align-items: flex-start;
  justify-content: flex-start;

  > img {
    width: 44px;
    margin-right: 20px;
    margin-top: 5px;
  }

  p {
    margin: 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #56AF31;
    padding-right: 20px;
    text-align: left !important;
  }

  @include media($mediapoint-very-small, $mediapoint-medium-large) {
    p {
      font-size: 12px !important;
      padding-right: 0;
    }

    img {
      margin-right: 10px;
    }

    padding: 12px;
  }

  &.green-box {
    background: #D0F1C1;

    p {
      color: #56AF31;
    }
  }

  &.orange-box {
    background: #FEF4E4;

    p {
      color: #F7A823;
    }
  }
}
