<footer class="footer">
    <div class="button-scroll-up">
        <img src="images/message_button.png" alt="scroll-up">
    </div>
    <a href="https://wa.me/18098333131?text=Hello!" target="_blank" class="button-whats-up">
        <img src="images/button-whatsup.png" alt="open-whatsup-account">
    </a>
    <div class="footer-block after-block container" id="footer">
        <div class="footer-block-column">
            <div class="img-logotype"></div>
            <p class="description  only-desk"> © 2022, VIAFINTECH SOLUTIONS, S.R.L.
                RNC No. 1-32-30566-3</p>
        </div>
        <div class="footer-block-column" id="href-list">
            <div class="contacts-info">
                <p class="contactos only-mobile">Contactos</p>
                <a href="tel:+18098333131" class="href-mail">
                    +1 (809) 833 3131
                </a>
                <a href="mailto:info@doctorpeso.do" class="href-mail">
                    info@doctorpeso.do
                </a>
            </div>
        </div>
        <div class="footer-block-column">
            <a href="/index.html#block-1" class="footer-button">Obtener un prèstamo</a>
            <div class="list-social only-desk" >
     <!--           <a href="" target="_blank"><img src="../images/facebook.svg"></a>
                <a href="" target="_blank"><img src="../images/instagram.svg"></a>
                <a href="" target="_blank"><img src="../images/twitter.svg"></a>-->
                <a href="https://wa.me/18098333131?text=Hello!" target="_blank"><img src="../images/whatsapp-white.svg"></a>
            </div>
        </div>

        <div class="footer-block-column only-mobile">
            <div class="list-social" >
       <!--         <a href="" target="_blank"><img src="../images/facebook.svg"></a>
                <a href="" target="_blank"><img src="../images/instagram.svg"></a>
                <a href="" target="_blank"><img src="../images/twitter.svg"></a>-->
                <a href="https://wa.me/18098333131?text=Hello!" target="_blank"><img src="../images/whatsapp-white.svg"></a>
            </div>
        </div>
        <div  class="footer-block-column only-mobile">
            <p class="description">© 2022, VIAFINTECH SOLUTIONS, S.R.L.
                RNC No. 1-32-30566-3</p>
        </div>

<!--        <div id="circle-menu" class="circle-menu">-->
<!--            <span></span>-->
<!--            <li></li>-->
<!--            <li></li>-->
<!--            <li></li>-->
<!--            <li></li>-->
<!--        </div>-->

</footer>
@@include('./matoma.html')